# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.LeetCode.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Tom\LeetCode\.idea\.idea.LeetCode.dir\.idea/dataSources/
/dataSources.local.xml
